@import "./_css_reset.css";
@import "./_mixins.css";

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 98%);
  --black: hsl(240, 21%, 20%);
  --grey: hsl(240, 10%, 57%);
  --grey-25: hsla(240, 10%, 57%, 0.25);
  --primary-color: hsl(192, 37%, 48%);
  --primary-color-90: hsla(192, 37%, 48%, 0.9);
  --primary-color-light: hsl(189, 93%, 76%);
  --primary-color-hover: #71c0d4;
  --secondary-color: hsl(268, 34%, 53%);
  --secondary-color-light: hsl(270, 100%, 87%);
  --secondary-color-hover: #b18bdd;
  --default-font: "Red Hat Display", sans-serif;
  --font-weight-medium: 500;
  --font-weight-black: 900;
  --step-bubble-size: 56px;
  --step-bubble-tail-length: 84px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @mixin full-width;
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  color: var(--black);
  background-color: var(--off-white);
}

h1 {
  font-weight: var(--font-weight-black);
  font-size: 64px;
  line-height: 1;
}
h2 {
  font-weight: var(--font-weight-black);
  font-size: 44px;
  line-height: 1.1;
}

img {
  max-inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  border: none;
  border-radius: 29px;
  padding: 16px 40px;
  cursor: pointer;
  font-weight: var(--font-weight-black);
  font-size: 16px;
  line-height: 1.625;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white);
  & span {
    margin-left: 4px;
    color: var(--primary-color-light);
  }
  &:hover,
  &:focus {
    background-color: var(--primary-color-hover);
  }
}
.secondary-btn {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 16px 29px;
  & span {
    margin-left: 4px;
    color: var(--secondary-color-light);
  }
  &:hover,
  &:focus {
    background-color: var(--secondary-color-hover);
  }
}

.step {
  width: var(--step-bubble-size);
  height: var(--step-bubble-size);
  border: 1px solid var(--grey-25);
  border-radius: 50%;
  font-weight: var(--font-weight-black);
  font-size: 16px;
  line-height: 1.625;
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--step-bubble-tail-length) + 64px);
  position: relative;
  background-color: var(--off-white);
  &:before {
    --tail-width: 1px;
    content: "";
    width: var(--tail-width);
    height: var(--step-bubble-tail-length);
    position: absolute;
    top: calc(var(--step-bubble-tail-length) * -1);
    left: calc(50% - var(--tail-width) / 2);
    background-color: var(--grey-25);
  }

  @mixin media-query-tablet {
    margin-top: calc(var(--step-bubble-tail-length) + 80px);
  }
  @mixin media-query-desktop {
    margin-top: calc(var(--step-bubble-tail-length) + 110px);
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

  @mixin media-query-desktop {
    margin-top: 80px;
  }
}
main {
  @mixin full-width;
}

.hero {
  @mixin full-width;
  margin: 64px auto 0;
  display: grid;
  justify-content: center;

  & img.hero__image--left {
    display: block;
    width: 414px;
    height: 153px;
  }
  & img.hero__image--right {
    display: none;
  }
  @mixin media-query-tablet {
    margin: 64px auto 0;

    & img.hero__image--left {
      width: 820px;
      height: 303px;
    }
  }
  @mixin media-query-desktop {
    max-width: 100%;
    width: 1504px;
    height: 358px;
    margin: 64px auto 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    & img.hero__image--left {
      width: 375px;
      height: 312px;
      justify-self: start;
      object-position: right;
      @mixin media-query-desktop-xl {
        width: auto;
        height: auto;
      }
    }
    & img.hero__image--right {
      display: block;
      height: 312px;
      object-position: left;
      justify-self: end;
      align-self: end;
      @mixin media-query-desktop-xl {
        width: auto;
        height: auto;
      }
    }
  }
}

.hero__cta {
  width: 327px;
  margin: 48px auto 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  h1 {
    font-weight: var(--font-weight-black);
    font-size: 40px;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  p {
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    font-weight: var(--font-weight-medium);
    color: var(--grey);
  }
  & .hero__cta__button_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  @mixin media-query-tablet {
    width: 457px;
    margin-top: 72px;
    padding: 0;
    & h1 {
      font-size: 48px;
      line-height: 1;
    }
    & .hero__cta__button_block {
      justify-content: center;
      flex-direction: row;
    }
  }
  @mixin media-query-desktop {
    width: 540px;
    margin-top: 48px;
    gap: 32px;
    & h1 {
      font-size: 64px;
      line-height: 1;
    }
    & p {
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: 0;
    }
  }
}

.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 0 24px;

  & .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    column-gap: 25px;

    img {
      border-radius: 8px;
    }
  }

  & section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p.tag {
      font-weight: var(--font-weight-black);
      font-size: 16px;
      line-height: 1.625;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: var(--primary-color);
    }
    h2 {
      margin-top: 24px;
      font-weight: var(--font-weight-black);
      font-size: 32px;
      line-height: 1.1;
    }
    p.content {
      margin-top: 32px;
      font-weight: var(--font-weight-medium);
      font-size: 16px;
      line-height: 1.625;
      color: var(--grey);
      letter-spacing: 0.5px;
    }
  }

  @mixin media-query-tablet {
    padding: 0 39px;
    gap: 48px;
    & .gallery {
      margin-top: 32px;
      justify-content: center;
      gap: 11px;
      img {
        width: 164px;
        height: 156px;
      }
    }
    & section {
      width: 573px;
      margin-top: 16px;
      h2 {
        margin-top: 16px;
        width: 445px;
        font-size: 40px;
        line-height: 1.1;
      }
      p.content {
        letter-spacing: 0;
      }
    }
  }

  @mixin media-query-desktop {
    gap: 64px;
    & .gallery {
      gap: 30px;
      margin-top: 0;
      img {
        width: 255px;
        height: 242px;
      }
    }
    & section {
      width: 540px;
      p.content {
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 0.5px;
      }
    }
  }
}

footer {
  & .step {
    position: relative;
    top: calc(var(--step-bubble-size) / 2);
    left: calc(50% - var(--step-bubble-size) / 2);
    z-index: 1;
    @mixin media-query-desktop {
      margin-top: calc(var(--step-bubble-tail-length) + 72px);
    }
  }
  & .cta {
    position: relative;
    z-index: 0;
  }
  & section {
    position: absolute;
    top: 0;
    left: 0;
    @mixin full-width-height;
    background-color: var(--primary-color-90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: var(--off-white);
    text-align: center;
    padding: 0 24px;

    h2 {
      width: 327px;
      font-weight: var(--font-weight-black);
      font-size: 32px;
      line-height: 1.1;
    }
    p {
      width: 327px;
      font-weight: var(--font-weight-medium);
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: 0.5px;
    }
    .secondary-btn {
      padding: 16px 40px;
    }
  }
  & img {
    display: block;
    width: 100%;
    block-size: auto;
  }

  & .attribution {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
    & a {
      color: hsl(228, 45%, 44%);
    }
  }

  @mixin media-query-tablet {
    & section {
      & h2 {
        width: 457px;
        font-size: 40px;
        line-height: 1.1;
      }
      & p {
        width: 573px;
        letter-spacing: 0;
      }
    }
  }
  @mixin media-query-desktop {
    & section {
      flex-direction: row;
      gap: 125px;
      h2,
      p {
        width: 350px;
        text-align: left;
      }
    }
  }
}
